.headerGrid {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 20px;

  @media (min-width: 800px) {
    grid-template-rows: auto;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 80px;
  }
}

.stickyHeader {
  z-index: 999;
}

@media (max-width: 799px) {
  .menu {
    display: grid;
    transition: 300ms;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;

    [data-selected="true"] {
      background-color: black;
      color: white;
      font-weight: bold;
    }

    .stickyHeader {
      position: sticky;
      top: 0;
      flex-direction: row;
      backdrop-filter: blur(16px);
      overflow: auto;
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}

@media (min-width: 800px) {
  .menu {
    display: grid;
    transition: 300ms;
    grid-template-rows: auto;
    grid-template-columns: 1fr 200px 1fr;

    &:not(&.selected) {
      [data-selected="true"] {
        transition: all;
        transition-delay: 300ms;
      }
    }

    [data-selected="true"] {
      background-color: black;
      color: white;
      font-weight: bold;
    }
  }

  .selected {
    grid-template-columns: 0fr auto 1fr;

    .content {
      width: auto;
      overflow: visible;
    }

    .stickyHeader {
      position: sticky;
      top: 3rem;
    }
  }
}

.contentSection {
  margin-bottom: 200px;
  @media (min-width: 800px) {
    margin-bottom: 400px;
  }
}

.copyButton {
  position: relative;
  background: black;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  display: block;

  .fore {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transform: translateY(-8px) translateX(-6px);
    outline: 2px solid black;
    background: rgb(247, 245, 243);
    height: 40px;
    transition: transform 150ms ease-in-out;
    overflow: hidden;
    gap: 8px;

    .copyText {
      transform: translateX(1000px);
      transition: transform 250ms ease;
    }

    .copyButton:hover & {
      .copyText {
        transform: translateX(-2px);
      }
    }
    .copyButton:active & {
      transform: translateY(-2px);
    }
  }
}

.hoverLink {
  .hoverLinkLabel {
    color: white;
    padding: 4px 0;
    position: relative;
    z-index: 10;

    @media (min-width: 768px) {
      color: black;
    }
  }

  &:hover {
    .hoverLinkLabel {
      color: white;
    }

    .hoverLinkUnderline {
      height: 100%;
    }
  }
}
