@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.vinyl {
  width: 180px;
  height: 180px;
  a {
    transition: transform 3s ease;
    transform: translatex(0px);
  }
  &:hover {
    a {
      display: inline-block;
      transform: translatex(150px);
    }
    img {
      animation: spinner 1.5s linear infinite;
    }
  }
}
